<!DOCTYPE html>
<html style="width:100%;height:100%">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.1/theme-chalk/index.css">
		<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
	</head>

	<style>
	</style>
	<body style="width:100%;height:100%;display:flex;flex-direction:row;justify-content: center;align-items: center; margin:0px;background-color: #081217; font-family: Noto Sans KR, sans-serif;">
		<div style="width:30%;background-color: #FFFFFF;height: 80%;border-radius: 25px;opacity: 0.9;" id="app">
			<div style="height:35%;">
				<h1 style="margin: 0px;padding: 50px 50px 0px 50px;">Gross Disposable Household Income</h1>
				<p style="margin: 0px;padding:20px 50px 0px 50px;">
                   
               
                    </p>
			</div>

			<div style="height:50%;display:flex;flex-direction:column;justify-content:center;align-items:center;padding: 0px 50px 0px 50px;">
				<div style="width:100%;height:100%;" id="line"></div>
			</div>

			<div
				style="width:100%;height:15%;display:flex;flex-direction:row;justify-content:flex-start;align-items:flex-start;padding-left: 50px;border-radius: 25px;">
				<el-select v-model="selectValue" placeholder="Choose the year" @change="selectChange" style="margin-right: 20px;">
					<el-option v-for="item in selectOptions" :key="item.value" :label="item.label" :value="item.value">
					</el-option>
				</el-select>
				<el-button type="primary" plain onclick="GDHI();">GDHI</el-button>
				<el-button type="primary" plain onclick="Growth_rates();">Growth Rates</el-button>
			</div>
			<div style="margin-top: -30px;padding-left: 50px;">
				<a href="https://www.ons.gov.uk/economy/regionalaccounts/grossdisposablehouseholdincome/datasets/revisionstrianglesregionalgdhi" target="_blank">GDHI Data Source</a>
			</div>
		</div>
		<div style="width:50%;height: 100%;">
			<div id="world" style="width:100%;height:100%;"></div>
		</div>



	</body>


	<script type="text/javascript" src="https://cdn.staticfile.org/vue/2.6.9/vue.js"></script>
	<script type="text/javascript" src="https://cdn.staticfile.org/element-ui/2.15.1/index.min.js"></script>
	<script type="text/javascript" src="./js/echarts.min.js"></script>
	<script src="js/England_map.js"></script>
	<script src="js/data.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
</html>
